@tailwind base;
@tailwind components;
@tailwind utilities;




input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-6 font-bold;
}

input:focus-within ~ label {
  @apply text-green-800 font-bold;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}